body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    background-color: white;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: auto;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

    /* Usamos flexbox para centrar el modal */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 3px solid black; /* Borde negro */
    border-radius: 15px; /* Bordes redondeados */
    max-width: 500px;
    width: 100%; /* Asegura que el contenido ocupe un máximo de 500px */
    box-sizing: border-box; /* Asegura que padding y border estén incluidos en el ancho */
    text-align: center; /* Centra el contenido del modal */
}

.modal img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
